<% content_for(:title, 'Post | Blog This!') %>
<% use_remote = current_user.nil? ? false : true %>

<hr />
<h3><%= @post.title %></h3>
<br />
<p><%= @post.body %></p>

<%= link_to 'Edit Post', edit_post_path(@post),
  class: 'btn btn-info' %>
<%= link_to 'Delete Post', post_path(@post),
  { :data => { :method => 'delete' },
    :class => 'btn btn-danger' } %>

<hr />

<h4>Comments for this post:</h4>

<ul id='all_post_comments'>
  <%= render @post.comments %>
</ul>

<%= link_to 'Add New Comment', new_post_comment_path(@post),
  id: 'new_comment_link', remote: use_remote, class: 'btn btn-primary' %>
