<% content_for(:title, 'Post | Blog This!') %>
<hr />
<h3><%= @post.title %></h3>
<br />
<p><%= @post.body %></p>

<%= link_to 'Edit Post', edit_post_path(@post),
  class: 'btn btn-info' %>
<%= link_to 'Delete Post', post_path(@post),
  { :data => { :method => 'delete' },
    :class => 'btn btn-danger' } %>

<hr />

<h4>Comments for this post:</h4>

<ul>
  <% @post.comments.each do |comment| %>
    <li>
      <%= comment.body %> |
      <%= link_to 'Edit', edit_post_comment_path(@post, comment) %> |
      <%= link_to 'Delete', post_comment_path(@post, comment),
        :data => { :method => "delete" } %>
    </li>
  <% end %>
</ul>

<%= link_to 'Add New Comment', new_post_comment_path(@post),
  class: 'btn btn-primary' %>

<hr />

<%= link_to 'Back to Home Page', posts_path %>
